<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseDesign"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"><!-- 表示该组件可以被其他应用程序访问,一般是留给系统调用启动页面的 -->
            <intent-filter> <!-- 有这个intent-filter就要暴露给外部启动 -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" /><!-- 表示该组件只能被同一应用程序内的其他组件访问，外部应用无法直接访问 -->

    </application>

</manifest>